@model HomeDecor.Models.FacilityModel

@{
    ViewData["Title"] = "Edit Facility";
}

<h3>Edit</h3>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Home" class="navbar-brand">Home Decor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (TempData["username"] != null)
                {
                    <li><a asp-area="" asp-controller="UserLogins" asp-action="Logout">Logout</a></li>
                }
            </ul>
        </div>
    </div>
</nav>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Facility_code" />
            <div class="form-group">
                <label asp-for="Facility_name" class="control-label"></label>
                <input asp-for="Facility_name" class="form-control" />
                <span asp-validation-for="Facility_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility_description" class="control-label"></label>
                <input asp-for="Facility_description" class="form-control" />
                <span asp-validation-for="Facility_description" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label asp-for="isActive" class="control-label"></label>
               <select class="form-control" id="isActive" name="isActive">                  
                    <option>True</option> 
                    <option>False</option> 
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller= "DecorModels" asp-action="Index">Back to Resource List</a>
    <a asp-controller= "FacilityModels" asp-action="Index">| Back to Facilities List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
